@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark font-display antialiased;
  }

  a {
    @apply text-text-light dark:text-text-dark no-underline hover:text-primary;
  }
}
